img{ 
	width:150px;
	margin:auto;
 }

h1{
	font-size: 40px;
}


h3{
 	font-size:17px;
 	margin:5px auto 0px auto;
 }

 .border{
 	border-style:solid;
 	text-align:center;
 }
 body{
 	text-align:center;
 }

 .jumbotron{
	padding-top:10px;
	padding-bottom:5px;
 	height: 150px;
 }